<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Password Reset</title>
</head>
<body>
    <h2>Password Reset Request</h2>
    <p>Hello {{ user.first_name }},</p>
    <p>We received a request to reset your password. If you didn't make this request, you can safely ignore this email.</p>
    <p>To reset your password, click the link below (valid for {{ valid_hours }} hours):</p>
    <p><a href="{{ reset_url }}">Reset Password</a></p>
    <p>If the button above doesn't work, copy and paste this URL into your browser:</p>
    <p>{{ reset_url }}</p>
    <p>Best regards,<br>ClimbInsight Team</p>
</body>
</html> 